langchain
langchain-groq

tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
python-docx
docx2txt
unstructured[docx]
pandas
openpyxl
unstructured 
openpyxl 
msoffcrypto-tool
jq
matplotlib

## Embeddings
langchain-huggingface
sentence-transformers

## Vector Stores
langchain-chroma
faiss-cpu
# Vector DB
langchain-astradb
langchain-pinecone
